.test123 {
  color: rgb(40, 183, 107);
}
.test123 {
  color: rgb(92.5, 102.5, 120);
}
.test123 {
  color: rgb(92, 179, 119);
}
.test123 {
  color: rgb(91, 153, 234);
}
.test123 {
  color: rgb(238, 191, 65);
}
.test123 {
  color: rgb(210, 109, 105);
}
.test123 {
  color: rgb(37, 41, 48);
}
.test123 {
  color: rgb();
}
.test123 {
  color: rgb();
}
.test123 {
  color: #28b76b;
}
.test123 {
  color: rgba(238, 255, 0, 0.30);
}
.test123 {
  color: rgb();
}
.test123 {
  color: #f4fcf6;
}
.test123 {
  
  color: #828d9f;
  color: #ddac30 (zelena svetla);
  color: #ffaa33;
  color: #c885121f;
  color: #f3aa2bfa;
  color: lightblue;
  color: rgba(51, 85, 253, 0.85);
}


.main-barvvy {  
color: #3355fdd9;
color: #1c3de1e6;
color: #5470feca;
color: #2849eee6;
color: #425ff115;
}

!theme.css!
darkorange
orange
brown

11928 header
11921 card icons
11943 header trojuhelníky
120110 header card btn barva..
